*.swp
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
data/cairomm-1.0.pc
data/cairomm-ft-1.0.pc
data/cairomm-pdf-1.0.pc
data/cairomm-png-1.0.pc
data/cairomm-ps-1.0.pc
data/cairomm-svg-1.0.pc
data/cairomm-xlib-1.0.pc
data/cairomm-xlib-xrender-1.0.pc
data/cairomm-win32-1.0.pc
data/cairomm-win32-font-1.0.pc
data/cairomm-quartz-1.0.pc
data/cairomm-quartz-font-1.0.pc
data/cairomm-quartz-image-1.0.pc
.deps
.dirstamp
.libs
config.guess
config.log
config.status
config.sub
configure
depcomp

MSVC_Net2005/cairomm/cairomm.rc
MSVC_Net2005/cairomm/cairommconfig.h
MSVC_Net2008/cairomm/cairomm.rc
MSVC_Net2008/cairomm/cairommconfig.h

docs/reference/Doxyfile
docs/reference/cairomm_doxygen_tags
docs/reference/cairomm-1.0.devhelp2
docs/reference/cairomm-1.0.tag
docs/reference/doxygen.log
docs/reference/doxygen-output.txt
docs/reference/doxygen-warnings.txt
docs/reference/html
docs/reference/undocumented.txt
install-sh
libtool
ltmain.sh
missing
*.o
*.lo
*.la

examples/surfaces/pdf-surface
examples/surfaces/image-surface
examples/surfaces/ps-surface
examples/surfaces/svg-surface
examples/text/text-rotate
examples/text/toy-text
examples/text/user-font

tests/test-context
tests/test-font-face
tests/test-surface
tests/test-scaled-font
tests/test-font-options
tests/test-matrix
tests/test-user-font

cairomm/cairommconfig.h*
cairomm/stamp-*
build/compile-binding.am
build/dist-changelog.am
build/doc-reference.am
build/generate-binding.am
build/libtool.m4
build/lt*.m4
releases/
tags

# generated by examples
image.pdf
image.png
image.ps
image.svg
text-rotate.png
toy-text.png
user-font.png

# Windows
*.exe
*.user
*.ncb
*.suo
Debug
Release
