*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
cairomm-1.0.pc
cairomm-1.3.0.tar.gz
.deps
.libs
config.guess
config.log
config.status
config.sub
configure
depcomp
MSVC/cairomm/cairomm.rc
docs/reference/Doxyfile
docs/reference/cairomm_doxygen_tags
docs/reference/doxygen-output.txt
docs/reference/doxygen-warnings.txt
docs/reference/html
docs/reference/undocumented.txt
install-sh
libtool
ltmain.sh
missing
*.o
*.lo
*.la
examples/pdf-surface/example_pdf_file
examples/png_file/example_png_file
examples/ps-surface/example_ps_file
examples/svg-surface/example_svg_file
examples/text/text_rotate
examples/text/toy-text
tests/test-context
tests/test-font-face
cairomm/cairommconfig.h*
cairomm/stamp-*
m4/libtool.m4
m4/lt*.m4
releases/
tags
